NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXT_PUBLIC_REOWN_PROJECT_ID=

NEXT_PUBLIC_KMS_ACCOUNT_ID=0.0.10304901
NEXT_PUBLIC_HEDERA_NODE_IP=
NEXT_PUBLIC_HEDERA_NODE_ACCOUNT_ID=

NEXT_PUBLIC_KMS_KEY_ID=
NEXT_PUBLIC_OPERATOR_ID=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_KMS_KEY_ID=

KMS_ACCOUNT_ID=0.0.10304901
SAUCERSWAP_ROUTER_ID=0.0.3045981
WHBAR_TOKEN_ID=0.0.1456986
USDC_TOKEN_ID=0.0.456858

WHBAR_CONTRACT_ID=0.0.1456985
WHBAR_SPENDER_ID=0.0.1456985
MIRROR_NODE_API=https://mainnet-public.mirrornode.hedera.com

HEDERA_OPERATOR_ID=
HEDERA_OPERATOR_PRIVATE_KEY=
HEDERA_OPERATOR_KEY_TYPE=AUTO

SWEEPHY_OPERATOR_ACCOUNT_ID=0.0.10304901
SWEEPHY_FEE_RECIPIENT_ADDRESS=
